# Arc Testnet
ARC_TESTNET_RPC=https://rpc.testnet.arc.io
ARC_TESTNET_CHAIN_ID=5042002
DEPLOYER_KEY=0xYOUR_TEST_WALLET_KEY_ONLY
ARCSCAN_API_KEY=

# Web
NEXT_PUBLIC_STACKUP_CHAIN_ID=5042002
NEXT_PUBLIC_ARC_TESTNET_RPC=https://rpc.testnet.arc.io
NEXT_PUBLIC_DEPLOYMENT=../../deployments/arc-testnet.json
